.frm {
  margin: 100px 0 0 0;
  display: flex;
  justify-content: center;
}

.eq {
  margin: 0 10px 0 10px;
}

#error {
  display: none;
  text-align: center;
  color: red;
}

.clicked {
  background-color: saddlebrown;
}
