* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  min-height: 150px;
  /* background-color: green; */
  display: flex;
  justify-content: space-around;
}

.logo {
  margin: 5px;
}

.menu {
  list-style: none;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* border: 1px solid; */
}

.menu li {
  align-content: center;
  margin: 5px;
}

.menu-item {
  text-decoration: none;
  color: black;
}

.menu-item:hover {
  color: blue;
}

.main {
  display: flex;
}

.left,
.right {
  width: 10%;
  border: 1px solid;
  min-height: 500px;
}

.center {
  width: 80%;
  border: 1px solid green;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.good-wrp {
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.good-title {
  display: block;
  text-align: center;
  font-size: 20px;
  color: blue;
  margin: 0 0 10px 0;
}

.good-img {
  display: block;
  margin: 0 0 10px 0;
}

.good-price {
  margin: 0 0 10px 0;
}

.good-btn {
  min-height: 30px;
}

.good-btn-txt {
  margin: 15px;
  font-weight: 700;
}

.formVal {
  margin: 5px;
}
.review-frm,
.admin-frm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px;
}

.review-txt,
.admin-desc {
  resize: none;
}

.review-wrp {
  width: 100%;
  margin: 20px;
}

.review-show-author {
  font-weight: 700;
  font-size: 20px;
}

.review-show-date {
  font-size: 12px;
  font-style: italic;
}

.review-show-txt {
  font-size: 16px;
}